@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<Nancy.Blog.Model.BlogPost>>

@{
    Layout = "Layout";
}
<div class="boxed">
    <h2>Oops! This page was not found.</h2>
    <p>Sorry, but the page you were trying to view does not exist.</p>
</div>

