<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Nancy" version="0.23.0" targetFramework="net451" />
  <package id="Nancy.Hosting.Self" version="0.23.0" targetFramework="net451" />
  <package id="Nancy.Viewengines.Razor" version="0.23.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="RestSharp" version="102.7" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net451" />
</packages>